
# use flake

dotenv_if_exists .env # gitignored env vars 
export VIVADO_NATIVE_BIN=/home/mbenton/Xilinx/2025.2/Vivado/bin/vivado
export VITIS_HLS_BIN=/home/mbenton/Xilinx/2025.2/Vitis/bin/vitis
export VIVADO_BACKEND=native

